#intro {
  .container {
    p {
      color: $gray;
      font-family: "Open Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .intro__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &--left {
        width: 657px;
        h1 {
          color: $black;
          font-family: "Open Sans";
          font-size: 38px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-bottom: 15px;
        }
        p {
          color: $black;
          font-family: "Open Sans";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 160%;
        }
        &--button--wrapper {
          margin-top: 30px;
          display: flex;
          gap: 30px;
          button {
            display: flex;
            padding: 16px 36px 18px 36px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            background-color: $main-color;
            color: $white;
            border: none;
            border-radius: 10px;
            &:hover {
              background: $btn__hover2;
            }
          }

          div {
            b {
              color: $main-color;
              border-bottom: 2px solid $main-color;
              font-family: "Open Sans";
              font-size: 24px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
            p {
              margin-top: 10px;
              font-family: "Open Sans";
              color: $gray;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }

        &--a-wrapper {
          margin-top: 41px;
          display: flex;
          gap: 30px;
          div {
            display: flex;
            gap: 5px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  #intro {
    .container {
      p {
        color: $gray;
        font-family: "Open Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .intro__wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
        &--left {
          order: 1;
          width: 657px;
          h1 {
            color: $black;
            font-family: "Open Sans";
            font-size: 22px;
            font-weight: 700;
            margin: 20px auto;
            text-align: center;
            margin-bottom: 15px;
            width: 350px;
          }
          p {
            color: $black;
            font-family: "Open Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
            width: 350px;
            text-align: center;
            margin: 0 auto;
          }
          &--button--wrapper {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            button {
              display: flex;
              padding: 15px 90px;
              justify-content: center;
              align-items: center;
              gap: 10px;
              background-color: $main-color;
              color: $white;
              border: none;
              border-radius: 10px;
              &:hover {
                background: $btn__hover2;
              }
            }

            div {
              b {
                color: $main-color;
                border-bottom: 2px solid $main-color;
                font-family: "Open Sans";
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-left: 100px;
              }
              p {
                margin-top: 10px;
                font-family: "Open Sans";
                color: $gray;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }
            }
          }

          &--a-wrapper {
            margin-top: 41px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            div {
              display: flex;
              margin-left: 100px;
              p {
                margin-left: -120px;
              }
            }
          }
        }

        &--right {
          img {
            width: 350px;
          }
        }
      }
    }
  }
}
